@baseColor: #1890ff;
@borderRadius: 4px;

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.4);
	border-radius: 8px;
}
* {
	padding: 0;
	margin: 0;
}
body {
	box-sizing: border-box;
}
a {
	color: inherit;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: ' ';
	clear: both;
	height: 0;
}

.clearfix {
	zoom: 1;
}
.mt10 {
	margin-top: 10px;
}
.ml20 {
	margin-left: 20px;
}
.ant-radio-wrapper {
	cursor: pointer;
	font-size: 26px;
}

.ant-radio {
	font-family: 'Chinese Quote', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial,
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	font-size: 14px;
	font-variant: tabular-nums;
	line-height: 1.5;
	color: rgba(0, 0, 0, 0.65);
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	white-space: nowrap;
	outline: none;
	display: inline-block;
	position: relative;
	line-height: 1;
	vertical-align: middle;
	cursor: pointer;
}

.ant-radio input {
	display: none;
}

.ant-radio-inner {
	box-sizing: border-box;
	position: relative;
	top: 0;
	left: 0;
	display: block;
	width: 16px;
	height: 16px;
	border-width: 1px;
	border-style: solid;
	border-radius: 100px;
	border-color: #d9d9d9;
	background-color: #fff;
	transition: all 0.3s;
}

.ant-radio-inner:after {
	position: absolute;
	width: 8px;
	height: 8px;
	left: 3px;
	top: 3px;
	border-radius: 8px;
	display: table;
	border-top: 0;
	border-left: 0;
	content: ' ';
	background-color: #1890ff;
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
	transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}

.ant-radio input:checked + .ant-radio-inner,
.ant-radio:hover .ant-radio-inner {
	border-color: #1890ff;
}

.ant-radio input:checked + .ant-radio-inner:after {
	-webkit-transform: scale(0.875);
	transform: scale(0.875);
	opacity: 1;
	transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}

.ant-radio:hover:after .ant-radio:after {
	visibility: visible;
}
.ant-checkbox-group {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: rgba(0, 0, 0, 0.65);
	font-size: 14px;
	font-variant: tabular-nums;
	line-height: 1.5;
	list-style: none;
	-webkit-font-feature-settings: 'tnum';
	font-feature-settings: 'tnum';
	display: inline-block;
}
.ant-checkbox-wrapper {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: rgba(0, 0, 0, 0.65);
	font-size: 14px;
	font-variant: tabular-nums;
	line-height: 1.5;
	list-style: none;
	-webkit-font-feature-settings: 'tnum';
	font-feature-settings: 'tnum';
	display: inline-block;
	line-height: 1;
	cursor: pointer;
}
.ant-checkbox-group-item {
	display: inline-block;
	margin-right: 8px;
}
.ant-checkbox {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: rgba(0, 0, 0, 0.65);
	font-size: 14px;
	font-variant: tabular-nums;
	line-height: 1.5;
	list-style: none;
	-webkit-font-feature-settings: 'tnum';
	font-feature-settings: 'tnum';
	position: relative;
	top: -0.09em;
	display: inline-block;
	line-height: 1;
	white-space: nowrap;
	vertical-align: middle;
	outline: none;
	cursor: pointer;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
	border-color: #1890ff;
}

.ant-checkbox:hover::after,
.ant-checkbox-wrapper:hover .ant-checkbox::after {
	visibility: visible;
}

.ant-checkbox-inner {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	width: 16px;
	height: 16px;
	background-color: #fff;
	border: 1px solid #d9d9d9;
	border-radius: 2px;
	border-collapse: separate;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.ant-checkbox-inner::after {
	position: absolute;
	top: 50%;
	left: 21%;
	display: table;
	width: 5.71428571px;
	height: 9.14285714px;
	border: 2px solid #fff;
	border-top: 0;
	border-left: 0;
	-webkit-transform: rotate(45deg) scale(0) translate(-50%, -50%);
	-ms-transform: rotate(45deg) scale(0) translate(-50%, -50%);
	transform: rotate(45deg) scale(0) translate(-50%, -50%);
	opacity: 0;
	-webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
	transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
	content: ' ';
}

.ant-checkbox-input {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 0;
}

.ant-checkbox input:checked + .ant-checkbox-inner::after {
	position: absolute;
	display: table;
	border: 2px solid #fff;
	border-top: 0;
	border-left: 0;
	-webkit-transform: rotate(45deg) scale(1) translate(-50%, -50%);
	-ms-transform: rotate(45deg) scale(1) translate(-50%, -50%);
	transform: rotate(45deg) scale(1) translate(-50%, -50%);
	opacity: 1;
	-webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
	transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
	content: ' ';
}

.ant-checkbox input:checked + .ant-checkbox-inner {
	background-color: #1890ff;
	border-color: #1890ff;
}
/* 退出直播间 */
.exitBtn {
	/* position: fixed;
	right: 20px;
	bottom: 50px; */
	background: rgba(230, 162, 60, 0.9) url(../exitvideo.png) center center no-repeat;
	background-size: 30px;
	color: #fff;
	border-radius: 100%;
	width: 45px;
	height: 45px;
	text-align: center;
	font-size: 16px;
	line-height: 40px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
	z-index: 9999;
	display: block;
	-webkit-app-region: no-drag;
}
.main-page {
	width: 100vw;
	height: 100vh;
	/*background: gray;*/
	/* -webkit-app-region: drag; */
	-webkit-app-region: no-drag;
	/* background: url(../../assets/bg.png) no-repeat center bottom;*/
	box-sizing: border-box;
}
.main-page .modbox {
	margin: 0 auto;
	text-align: center;
	padding-top: 10%;
	width: 500px;
}

.main-page .modbox .fromcontrol {
	border-radius: @borderRadius;
	background: rgba(255, 255, 255, 1);
	border: 2px solid @baseColor;
	height: 64px;
	line-height: 60px;
	margin-top: 20px;
	position: relative;
	font-size: 30px;
}

.main-page .modbox .fromcontrol label {
	display: inline-block;
	width: 5em;
}
.main-page .modbox .fromcontrol label .red{
	color: #f00;
}
.main-page .modbox .fromcontrol input[type='text'],
.main-page .modbox .fromcontrol input[type='password'] {
	line-height: 58px;
	border: none;
	background: none;
	outline: none;
	font-size: 30px;
}

.main-page .modbox .fromcontrol select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	line-height: 58px;
	margin-right: 10px;
	border: none;
}

.loginBtn,
.returnback,
.startBtn,
.sendtitle,
.setupload{
	background: @baseColor;
	display: block;
	height: 60px;
	border-radius: @borderRadius;
	line-height: 60px;
	text-align: center;
	color: #fff !important;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
	font-size: 26px;
}

.modbox.room {
	width: 690px;
}
.returnback {
	background: #eb5c7a;
	color: #fff;
	padding: 0 30px;
	margin-right: 20px;
	
}
.setupload{
	position: absolute;
	// left: 0;
	background:@baseColor;
	border:2px solid @baseColor;
	// margin-left: 20px;
	font-size: 12px;
	// line-height: 1.2;
	// padding-top: 5px;
	box-sizing: border-box;
	overflow: hidden;
	width: 74px;
	transition: all .1s;
	left:426px;
}
.setupload.active{
	width:152px;
}
.setupload>div{
	width: 100%;
}
.setupload a{
	display: block;
	float: left;
	width: 74px;
	height: 56px;
	// height: 100%;
	background: #fff ;
	padding-top: 2px;font-size: 12px;
	line-height: 0;
	color:@baseColor;
	
}
.setupload a i{
	display: block;
	height: 36px;
	width: 100%;
	margin: 0 auto 5px;
	background:no-repeat center center;
}
.setupload a.setbtn{
	background: @baseColor;
	color: #fff;
}
.setupload a.setbtn i {
	background-image: url(../../assets/icon16.png);
	background-size: 34px auto;
}.setupload a.setuploadbtn i {
	background-image: url(../../assets/icon17.png);
	background-size: 30px auto;
}
.setupload a.setEnglishbtn i {
	background-image: url(../../assets/icon18.png);
	background-size: 32px auto;
}
/* 下来选择 */
.dropdown {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.dropdown .dropdownarrow {
	height: 60px;
	width: 54px;
	border-left: 2px solid @baseColor;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}

.dropdown .dropdownlist,
.selectFilter .dropdownlist {
	position: absolute;
	left: 0;
	top: 60px;
	background: #fff;
	width: 100%;
	color: #000;
	z-index: 9999;
	max-height: 200px;
	overflow: auto;
	border: 2px solid @baseColor;
}

.dropdown .dropdownlist li a,
.selectFilter .dropdownlist li a {
	display: block;
	padding: 0 10px;
	line-height: 56px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
	text-align: left;
	color: #000;
	font-size: 26px;
}

.dropdown .dropdownlist li a:active,
.dropdown .dropdownlist li a:hover,
.selectFilter .dropdownlist li a:hover,
.selectFilter .dropdownlist li a:active {
	background: @baseColor;
	color: #fff;
}

.icon-filter-arrow {
	right: 20px;
	top: 28px;
	position: absolute;
	transition: all 0.2s;
	border: 10px solid transparent;
	border-top-color: #000;
	transform-origin: center 2px;
}

.icon-filter-arrow.filter-show {
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.tab .tab-item {
	background: rgba(255, 255, 255, 1);
	line-height: 30px;
	padding: 5px;
	border-radius: 50px;
	border: 2px solid #999;
	display: inline-block;
	margin: 0 10px;
	cursor: pointer;
	border-color: @baseColor;
}
.tab .tab-item.active {
	border-color: @baseColor;
	background: @baseColor;
	color: #fff;
}
.tab-item > div {
	border-color: #999;
	padding: 10px 40px;
	border-radius: 15px;
	text-align: center;
	position: relative;
	color: @baseColor;
	font-size: 35px;
	min-height: 30px;
}
.tab-item.active > div {
	color: #fff;
}
.tab-item i,
.tab-item > div span {
	display: inline-block;
	vertical-align: middle;
}
.tab .tab-item i {
	width: 40px;
	height: 40px;
	background: no-repeat center center;
	background-size: 100% auto;
}
.tab .tab-item:first-child i {
	background-image: url(../../assets/icon5.png);
}
.tab .tab-item:last-child i {
	background-image: url(../../assets/icon6.png);
}
.tab .tab-item.active:first-child i {
	background-image: url(../../assets/selicon5.png);
}
.tab .tab-item.active:last-child i {
	background-image: url(../../assets/selicon6.png);
}
/* 语音文本显示 */
.reftext {
	position: fixed;
	top: 20px;
	// left: 50%;
	left: 20%;
	right: 20%;
	text-align: center;
	z-index: 998;
 }


.reftext > div.txt {
	display: inline-block;
	// border: 5px dashed @baseColor;
	// transform: translatex(-50%);
	// -webkit-transform: translatex(-50%);
	background: rgba(255, 255, 255, 1);
	// padding: 5px;
	// border-radius: 15px;
	border: 5px solid @baseColor;
	max-width: 75%;
	border-radius: 15px;
	text-align: left;
	// position:absolute;
	// left: 50%;
	color: @baseColor;
	height: 100%;
	overflow: auto;
	
	
}
 .reftext.active{
	 z-index: 9998;
 }
 .reftext.active> div.txt{
	max-height: calc(20vh - 20px)
}
.reftext > div.txt .title{
	font-size: 40px;
	font-weight: bold;
	min-height: 30px;
	line-height: 1.5em;
	word-break: break-all;
	// border-bottom: 1px solid #efefef;
	padding: 16px 50px;
	text-align: center;
	min-width: 200px;
	
}
.reftext > div.txt .questionlist{
	height: 0;
	overflow: hidden;
	transition: all .3s;
}.reftext > div.txt.active {
	width: 75%;
}
.reftext > div.txt.active .questionlist{
height: auto;
}
.reftext > div.txt .questionlist span{
	display: inline-block;
	border: 1px solid @baseColor;
	padding: 0 15px;
	line-height: 30px;
	border-radius: 6px;
	margin: 10px;
	cursor: pointer;
}
.reftext > div.txt .questionlist span.active{
	border: 1px solid #dedede;
	background: #dedede;
	color: #a3a3a3;
	text-decoration: line-through;
}
.reftext > div.txt .more{
	display: block;
	height: 30px;
	width: 30px;
	border: 3px solid @baseColor;
	position: absolute;
	background: #fff;
	border-radius: 100%;
	bottom: -15px;
	left: 50%;
	transform: translateX(-50%);
	overflow: hidden;
	
}
.reftext > div.txt .more i{
	transition: all .3s;
	display: block;
	height: 100%;
	width: 100%;background: #fff url(../../assets/icon28.png) no-repeat center center;
}
.reftext > div.txt.active .more i{
transform: rotate(180deg);
}
@media screen and (max-width: 1280px) {
	.reftext > div {
		font-size: 30px;
	}
}

.reftext > div:before {
	left: 5px;
}

.reftext > div:after {
	right: 5px;
}

.subjectitlebox li {
	display: inline-block;
	font-size: 20px;
	margin-top: 20px;
	cursor: pointer;
	border: 2px solid @baseColor;
	border-radius: @borderRadius;
	background: #fff;
	line-height: 25px;
	padding: 10px 0;
}
.subjectitlebox li + li {
	margin-left: 6px;
}
.subjectitlebox li i {
	display: block;
	width: 50px;
	height: 50px;
	// 	border:1px solid @baseColor ;
	// 	border-radius: 100%;
	margin: 0 auto 10px;
	background: no-repeat top center;
	background-size: 50px auto;
}
.subjectitlebox li.active {
	color: #fff;
	background: @baseColor;
}
.subjectitlebox li:nth-child(1) i {
	background-image: url(../../assets/dx.png);
}
.subjectitlebox li.active:nth-child(1) i {
	background-image: url(../../assets/dx2.png);
}
.subjectitlebox li:nth-child(3) i {
	background-image: url(../../assets/duox.png);
}
.subjectitlebox li.active:nth-child(3) i {
	background-image: url(../../assets/duox2.png);
}
.subjectitlebox li:nth-child(2) i {
	background-image: url(../../assets/pd3.png);
}
.subjectitlebox li.active:nth-child(2) i {
	background-image: url(../../assets/pd4.png);
}
.subjectitlebox li:nth-child(4) i {
	background-image: url(../../assets/zg.png);
}
.subjectitlebox li.active:nth-child(4) i {
	background-image: url(../../assets/zg2.png);
}
.subjectitlebox li:nth-child(5) i {
	background-image: url(../../assets/hb.png);
}
.subjectitlebox li.active:nth-child(5) i {
	background-image: url(../../assets/hb2.png);
}
.talkroom .subjectitlebox li + li {
	margin-left: 20px;
}
.talkroom .subjectitlebox li:nth-child(1) i {
	background-image: url(../../assets/yysb.png);
}
.talkroom .subjectitlebox li.active:nth-child(1) i {
	background-image: url(../../assets/yysb2.png);
}
.talkroom .subjectitlebox li:nth-child(2) i {
	background-image: url(../../assets/yycp.png);
}
.talkroom .subjectitlebox li.active:nth-child(2) i {
	background-image: url(../../assets/yycp2.png);
}
.talkroom .subjectitlebox li:nth-child(3) i {
	background-image: url(../../assets/mkf.png);
}
.talkroom .subjectitlebox li.active:nth-child(3) i {
	background-image: url(../../assets/mkf2.png);
}

.bottommenu {
	position: fixed;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	z-index: 9999;
}

.bottommenu a.next,
.bottommenu a.prev,
.bottommenu a.pickName,
.bottommenu a.rollCall{
	display: inline-block;
	color: #fff;
	vertical-align: middle;
	background: #b30027 no-repeat center center;
	background-size: 40px auto;
	border-radius: 100%;
	border: 3px solid #fff;
	font-size: 20px;
	width: 63px;
	height: 63px;
	box-shadow:0 0 10px rgba(179, 0, 39, 0.2);
	margin: 0 10px;
}
.bottommenu a.rollCall{
	background-color: #1890ff;
	background-image: url(../../assets/icon9.png);
	background-position: center 5px;
	box-shadow: 3px 3px 10px rgba(24, 144, 255, .5);
	background-size: 30px auto;
	position: absolute;
	 left: -130px;
	 top:0;
	 font-size: 10px;
	 padding-top: 40px;
}
.bottommenu a.pickName{
	background-color: #f1c16b;
	background-image: url(../../assets/icon10.png);
	background-position: center 5px;
	box-shadow: 3px 3px 10px rgba(241, 193, 107, .5);
	background-size: 30px auto;
	position: absolute;
	 left: -240px;top:0; 
	 font-size: 10px;
	 padding-top: 40px;
}

.bottommenu a.prev {
	position: absolute;
	 left: -130px;
}
// .bottommenu a.next i,
// .bottommenu a.prev i,
// .bottommenu a.next span,
// .bottommenu a.prev span {
// 	display: inline-block;
// 	vertical-align: middle;
// }
// .bottommenu a.next i,
// .bottommenu a.prev i {
// 	height: 40px;
// 	width: 40px;
// 	background: no-repeat center center;
// 	background-size: contain;
// }
.bottommenu a.prev{
	background-image: url(../../assets/prev.png);
	// margin-right: 10px;
}
.bottommenu a.next{
	background-image: url(../../assets/next.png);
	// margin-left: 10px;
}
.bottommenu a.start,
.bottommenu a.stopBtn,
.bottommenu a.send
{
	height: 63px;
	width: 63px;
	border-radius: 50px;
	padding: 0;
	display: inline-block;
	border: 3px solid #fff;
	vertical-align: middle;
}
.bottommenu a.start {
	background: #b30027 url(../../assets/start.png) no-repeat center center;
	background-size: 45px auto;
	box-shadow:0 0 10px rgba(179, 0, 39, 0.4);
}
.bottommenu a.stopBtn {
	background: #ec6d64 url(../../assets/stop.png) no-repeat center center;
	background-size: 45px auto;
	box-shadow:0 0 10px rgba(236, 109, 100, 0.4);
}
.bottommenu a.send {
	background: #72cb53 url(../../assets/send.png) no-repeat center center;
	background-size: 45px auto;
	box-shadow:0 0 10px rgba(114, 203, 83, 0.4);
}

.addSubject {
	position: fixed;
	left: 50%;
	margin-left:100px;
	bottom: 40px;
	background: #d09943 url(../../assets/addtitle.png) no-repeat center center;
	background-size: 40px auto;
	border-radius: 100%;
	height: 63px;
	width: 63px;
	box-shadow: 0 0 10px rgba(208, 153, 67, 0.4);
	z-index: 9999;
	border: 3px solid #fff;
}

.namelistbox {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
}
.namelistbox > div.mask {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.4);
}
.namelistbox > div.namelistbox-bd {
	background: #fff;
	// width: 80%;
	position: absolute;
	top: 20%;
	min-height: 100px;
	left:275px;
	right:275px;
	border-radius: 14px;
	height: 60%;
	min-height: 100px;
	padding: 40px 40px 60px;
	box-sizing: border-box;
	border: 6px solid #1890ff;
}

.namelistbox ul ,.namelistbox .nameitem{
	height: 100%;
	overflow: auto;
}
.namelistbox ul > li,
.namelistbox .nameitem .item{
	float: left;
	margin: 10px 0;
	color: #333;
	width: 25%;
	padding-left: 10px;
	box-sizing: border-box;
	line-height: 20px;
	cursor: pointer;
}
.namelistbox ul li i,
.namelistbox .nameitem .item i{
	width: 16px;
	height: 16px;
	display: inline-block;
	border-radius: 50%;
	vertical-align: middle;
	position: relative;
	margin-right: 5px;
}

.namelistbox ul li i.success {
	background-color: #52c41a;
}
.namelistbox ul li .notice,
.namelistbox ul li .play,
.namelistbox .nameitem .item .play{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../../assets/icon24.png) no-repeat center center;
}
.namelistbox ul li .play{
	background-image: url(../../assets/icon25.png)
}
.namelistbox ul li.active i.success:before {
	// content: '';
	// display: block;
	// border: 2px solid transparent;
	// width: 8px;
	// height: 5px;
	// border-left-color: #fff;
	// border-bottom-color: #fff;
	// border-radius: 3px;
	// transform: rotate(-45deg);
	// margin-left: 2px;
	// margin-top: 1px;
	content: '';
	display: block;
	    border: 2px solid transparent;
	    width: 10px;
	    height: 6px;
	    border-left-color: #fff;
	    border-bottom-color: #fff;
	    border-radius: 3px;
	    transform: rotate(-45deg);
	    margin-left: 3px;
	    margin-top: 4px;
}
.namelistbox ul li i.warn {
	background-color: #f5222d;
}
.namelistbox ul li img,
.namelistbox ul li span {
	vertical-align: middle;
}
.namelistbox ul li img {
	cursor: pointer;
	width: 20px;
	height: 20px;
}

.namelistbox .unbindAllStu {
	background: rgba(255, 0, 0, 0.6);
	width: 45px;
	height: 45px;
	text-align: center;
	font-size: 16px;
	border-radius: 100%;
	padding-top: 10px;
	box-sizing: border-box;
	position: absolute;
	right: 20px;
	bottom: 5px;
	cursor: pointer;
}
.namelistbox .unbindAllStu img {
	width: 25px;
	text-align: center;
}
.namelistbox .tag {
	position: absolute;
	bottom: 10px;
	left: 20px;
	color: #333;
}
.namelistbox .tag a {
	margin-left: 10px;
	text-decoration: underline;
}
.namelistbox .close {
	// background: #f00;
	// color: #fff;
	// font-size: 40px;
	position: absolute;
	right: -15px;
	top: -15px;
	border-radius: 100%;
	display: block;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 35px;
	background:#fff url(../../assets/icon26.png) no-repeat center center;
}
.uploadbox {
	margin-top: 20px;
	overflow: hidden;
	margin-left: 10px;
	position: relative;
	display: inline-block;
	background: @baseColor;
	color: #fff;
	border-radius: @borderRadius;
	padding: 10px 20px;
	font-size: 20px;
	vertical-align: middle;
	line-height: 40px;
}

.uploadbox input[type='file'] {
	position: absolute;
	font-size: 400px;
	right: 0;
	top: 0;
	opacity: 0;
}

.uploadbox span {
	cursor: pointer;
}
.uploadTitle {
	position: absolute;
	right: -80px;
	background: @baseColor;
	font-size: 26px;
	color: #fff;
	line-height: 60px;
	border-radius: @borderRadius;
	padding: 0 15px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}
.uploadTitle img {
	width: 30px;
	vertical-align: middle;
	// margin-right: 10px;
}
.uploadTitle span {
	vertical-align: middle;
}
.chartbox {
	// height: 100%;
	width: 100%;
	// left: 220px;
	// right: 220px;
	margin: 0 auto;
	box-sizing: border-box;
	padding-top: 20px;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	margin-top: 100px;
	border: 6px solid #1890ff;
}
.chartbox.h70 {
	// padding-top: 0;
	// height: 70%;
	margin-top: 20px;
}

.ant-switch {
		margin: 0;
		padding: 0;
		color: rgba(0, 0, 0, 0.65);
		font-size: 14px;
		font-variant: tabular-nums;
		line-height: 1.5;
		list-style: none;
		font-feature-settings: 'tnum';
		position: relative;
		display: inline-block;
		box-sizing: border-box;
		min-width: 44px;
		height: 22px;
		line-height: 20px;
		vertical-align: middle;
		background-color: rgba(0, 0, 0, 0.25);
		border: 1px solid transparent;
		border-radius: 100px;
		cursor: pointer;
		transition: all 0.36s;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.ant-switch-inner {
		display: block;
		margin-right: 6px;
		margin-left: 24px;
		color: #fff;
		font-size: 12px;
	}

	input:checked+.ant-switch,
	.checked .ant-switch{
		background-color: #00de8d;
	}

	.ant-switch-checked .ant-switch-inner {
		margin-right: 24px;
		margin-left: 6px;
	}

	.ant-switch::after {
		position: absolute;
		top: 1px;
		left: 1px;
		width: 18px;
		height: 18px;
		background-color: #fff;
		border-radius: 18px;
		cursor: pointer;
		transition: all 0.36s cubic-bezier(0.78, 0.14, 0.15, 0.86);
		content: ' ';
	}

	.ant-switch::after {
		box-shadow: 0 2px 4px 0 rgba(0, 35, 11, 0.2);
	}

	input:checked+.ant-switch::after,
	.checked .ant-switch::after{
		left: 100%;
		margin-left: -1px;
		transform: translateX(-100%);
	}

	.ant-switch-small {
		min-width: 28px;
		height: 16px;
		line-height: 14px;
	}

	.ant-switch-small .ant-switch-inner {
		margin-right: 3px;
		margin-left: 18px;
		font-size: 12px;
	}

	.ant-switch-small::after {
		width: 12px;
		height: 12px;
	}

	.ant-switch-small:active::before,
	.ant-switch-small:active::after {
		width: 16px;
	}