/* CSS Document */


/* reset */

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
	margin: 0;
	padding: 0;
}

header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
	display: block;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption,
th {
	text-align: left;
	font-weight: normal;
}

html,
body,
fieldset,
img,
iframe,
abbr {
	border: 0;
}

i,
cite,
em,
var,
address,
dfn {
	font-style: normal;
}

[hidefocus],
summary {
	outline: 0;
}

li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
small {
	font-size: 100%;
}

sup,
sub {
	font-size: 83%;
}

pre,
code,
kbd,
samp {
	font-family: inherit;
}

q:before,
q:after {
	content: none;
}

textarea {
	overflow: auto;
	resize: none;
}

label,
summary {
	cursor: default;
}

a,
button {
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
	font-weight: bold;
}

del,
ins,
u,
s,
a,
a:hover {
	text-decoration: none;
}

body,
textarea,
input,
button,
select,
keygen,
legend {
	font: 14px/1.14 "Microsoft YaHei", \5fae\8f6f\96c5\9ed1, Tahoma, Helvetica Neue, Helvetica, Arial, Hiragino Sans GB, Microsoft Yahei, Simhei, sans-serif;
	color: #333;
	outline: 0;
}

li,
ul {
	list-style: none;
}

* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑", "Arial";
	outline: none;
}

html,
body {
	background: rgba(0, 0, 0, 0);
	font-size: 20px;
}

.mt20 {
	margin-top: 20px;
}

/*flex 布局*/

.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}


/*垂直显示*/

.flex-v {
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.flex-1 {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	/* overflow: hidden */
}


/*垂直对其方式*/

.flex-align-center {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.flex-align-end {
	-webkit-box-align: flex-end;
	-webkit-align-items: flex-end;
	-ms-flex-align: flex-end;
	align-items: flex-end
}

/*左右居中*/

.flex-pack-center {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}


/*两端对齐*/

.flex-pack-justify {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

#danmu {
	position: fixed;
	top: 100px;
	bottom: 200px;
	left: 0;
	right: 0;
}

.danmaku .avatar,
.danmaku .avatar+span {
	vertical-align: middle;
	display: inline-block;
}

.danmaku .avatar+span {
	padding: 0 10px;
}

.danmaku {
	background: rgba(0, 0, 0, .4);
	border-radius: 50px;
	display: inline-block;
	padding-right: 20px;
	transform: translateX(0);
	-webkit-transform: translateX(0);
}

.danmaku .avatar img {
	display: block;
	height: 2.4em;
}

.namelist {
	position: fixed;
	left: 0px;
	width: 300px;
	bottom: 20%;
	color: #fff;
	font-size: 30px;
	line-height: 60px;
	top: 40%;
	transform: translate(-275px, -50%);
	transition: all .3s;
	z-index: 9999;
	-webkit-app-region: no-drag;
}

.namelist ul {
	padding-left: 30px;
	
}

.namelist.active {
	transform: translate(0, -50%);
}
.namelist.active .swiper-container{
	opacity: 1;
}
.namelist .swiper-container{
	opacity: 0;
	transition: all .3s;
	background: rgba(0, 0, 0, .4);
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	box-shadow: 0 0 4px rgba(255, 255, 255, .3);
}
.setting-drawer-index-handle {
	position: absolute;
	left:275px;
	background: rgba(24, 114, 255, 0.9);
	width: 45px;
	height: 45px;
	text-align: center;
	font-size: 16px;
	border-radius:100% ;
	/* border-radius: 0 4px 4px 0; */
	/* line-height: 48px; */
	top: -20px;
	cursor: pointer;
	z-index: 999;
}
.setting-drawer-index-handle img{
	width: 25px;
	text-align: center;
}
.namelist .unbind{
	background: rgba(255, 0, 0, 0.6);
		top: -20px;
		left: 225px;
		
	}
.namelist ul li i {
	width: 12px;
	height: 12px;
	display: inline-block;
	border-radius: 50%;
	vertical-align: middle;
	position: relative;
	top: -1px;
	margin-right: 10px;
}

.namelist ul li i.success {
	background-color: #52c41a;
}

.namelist ul li i.warn {
	background-color: #f5222d;
}

.plan {
	position: absolute;
	left: 0;
	width: 200px;
	top: 0;
}

.plan>div {
	position: absolute;
	font-size: 20px;
	color: #fff;
	top: 90px;
	width: 160px;
	left: 25px;
	text-align: center;
	line-height: 30px;
}

.plan img {
	display: block;
	width: 100%;
}

.plan .warn {
	color: #f00;
}

.progressbox {
	position: fixed;
	left: -100%;
	bottom: 15%;
	transition: all .2s;
}

.progressbox.active {
	left: 0;
}

.progress {
	width: 50px;
	line-height: 35px;
	/*background: #809495;*/
	box-shadow: none;
	padding: 6px;
	margin-top: 20px;
	overflow: visible;
	border-radius: 50px;
	top: 20%;
	height: 200px;
	box-sizing: border-box;
}

.progress>div {
	height: 100%;
	width: 100%;
	position: relative;
}


/*.progress:after {
				content: "";
				display: block;
				border-top: 4px dashed #fff;
				margin-top: 8px;
			}*/

.progress .progress-bar {
	position: absolute;
	border-radius: 0 0 20px 20px;
	animation: animate-positive 2s;
	width: 25px;
	bottom: 0;
	background: #f0ad4e;
}

.progress .progress-bar span {
	position: absolute;
	top: -20px;
	right: -60px;
	color: #fff;
	display: block;
	font-size: 17px;
	font-weight: bold;
	padding: 5px 7px;
	background: #333;
	border-radius: 5px;
	width: 40px;
	text-align: center;
}

.progress .progress-bar span:before {
	content: "";
	position: absolute;
	bottom: 15px;
	left: -14px;
	border: 7px solid transparent;
	border-right: 7px solid #333;
}

.progress .progress-bar span:after {
	content: "";
	position: absolute;
	top: -8px;
	left: -28px;
	background: url(../../assets/fire.png) no-repeat center center;
	height: 40px;
	width: 20px;
	background-size: 100% auto;
	transform: rotate(180deg);
	z-index: 999;
}

select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: url("https://raw.githubusercontent.com/ourjs/static/gh-pages/2015/arrow.png") no-repeat scroll right center transparent;
}

@-webkit-keyframes animate-positive {
	0% {
		height: 0%;
	}
}

@keyframes animate-positive {
	0% {
		height: 0%;
	}
}

.resultbox {
	position: fixed;
	top: 0;
	bottom: 20%;
	left: 0;
	right: 0;
	z-index: 999;
	/* display:none; */
}

.resultbox .flex-1 {
	width: 100%;
	padding: 20px 0;
}

.resultbox .sendtitle {
	margin: 0 auto
}

.rank {
	width: 180px;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	left: 50%;
	margin-left: -90px;
	top: 20%;
}

.rank .rankitem {
	width: 180px;
	height: 240px;
	background: url(../../assets/rank1.png) no-repeat top center;
	background-size: contain;
	padding-top: 120px;
	text-align: center;
	font-size: 30px;
	box-sizing: border-box;
	/*margin: 10px auto;*/
	display: inline-block;
	vertical-align: middle;
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.rank .rankitem .score {
	color: #fe5454;
	margin-top: 10px;
}

.rank .rankitem:nth-child(2) {
	background-image: url(../../assets/rank2.png);
	width: 165px;
	height: 220px;
	animation-delay: 0.1s;
	padding-top: 110px;
	font-size: 26px;
	left: 190px;
	position: absolute;
	bottom: 0;
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.rank .rankitem:nth-child(3) {
	background-image: url(../../assets/rank3.png);
	width: 150px;
	height: 200px;
	animation-delay: 0.2s;
	padding-top: 100px;
	font-size: 24px;
	left: -160px;
	position: absolute;
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
	/*top: 50%;
					margin-top: -80px;*/
	bottom: 0;
}

.rank .rankitem:nth-child(4) {
	background-image: url(../../assets/rank4.png);
	width: 135px;
	height: 180px;
	animation-delay: 0.3s;
	padding-top: 90px;
	font-size: 22px;
	left: 365px;
	position: absolute;
	bottom: 0;
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.rank .rankitem:nth-child(5) {
	background-image: url(../../assets/rank5.png);
	width: 120px;
	height: 150px;
	animation-delay: 0.3s;
	padding-top: 70px;
	font-size: 20px;
	left: -285px;
	position: absolute;
	bottom: 0;
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
	/*top: 50%;*/
	/*margin-top: -45px;*/
}

.rank.top {
	margin-top: 30px;
	top: 0;
	position: relative;
}

/* .rank.top .rankitem {
	width: 14.1vh;
	height: 18.8vh;
	padding-top:9.2vh;
	font-size: 24px;
}

.rank.top .rankitem:nth-child(2) {
	width: 12vh;
	height: 16vh;
	padding-top: 7.6vh;
	font-size: 24px;
	
	left: 16.5vh;
}

.rank.top .rankitem:nth-child(3) {
	width: 11.1vh;
	height: 14.8vh;
	padding-top: 7vh;
	font-size: 22px;
	left: -9.5vh;
}

.rank.top .rankitem:nth-child(4) {
	width: 10.2vh;
	height: 13.6vh;
	padding-top: 6vh;
	font-size: 20px;
	left: 29vh;
}

.rank.top .rankitem:nth-child(5) {
	width: 9vh;
	height: 12vh;
	padding-top: 6vh;
	font-size: 18px;
	left: -19vh;
} */
.rank.top .rankitem {
	width: 120px;
	height: 160px;
	padding-top: 76px;
	font-size: 22px;
}

.rank.top .rankitem:nth-child(2) {
	width: 111px;
	height: 148px;
	padding-top: 70px;
	font-size: 18px;
	left: 160px;
}

.rank.top .rankitem:nth-child(3) {
	width: 102px;
	height: 136px;
	padding-top: 60px;
	font-size: 18px;
	left: -80px;
}

.rank.top .rankitem:nth-child(4) {
	width: 90px;
	height: 120px;
	padding-top: 60px;
	font-size: 16px;
	left: 280px;
}

.rank.top .rankitem:nth-child(5) {
	width: 81px;
	height: 108px;
	padding-top: 50px;
	font-size: 16px;
	left: -170px;
}

.room .swiper {
	position: relative;
}

.room .swiper-container,
.room .swiper {
	width: 690px;
	height: 150px;
	margin: 0 auto;
}

.room .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff url('../../assets/roombg.jpg') no-repeat center center;
	background-size: 100% auto;
	border-radius: 16px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	color: #5bac67;
	width: 200px;
	transform: scale(.9, .9);
	transform-origin: 50% 100% 0;
	cursor: pointer;
	border: 4px solid #fff;
	box-sizing: border-box;
}

.room .swiper-slide.swiper-slide-active {
	transform: scale(1, 1);
	border: 4px solid #72cb53;

}

.room .swiper-button-prev {
	left: -40px;
	outline: none;
}

.room .swiper-button-next {
	left: auto;
	right: -40px;
	outline: none;
}

.txtlist {
	width: 70%;
	position: fixed;
	left: 15%;
	top: 20%;
	bottom: 20%;
	border-radius: 5px;
	color: #b85e1e;
	padding: 20px;
	font-size: 40px;
	overflow: hidden;

}

.txtlist p {
	color: #c3875e;
	font-size: 30px;
	margin-top: 10px;
}

.txtlist .item {
	border: 4px solid #4fb57e;
	padding: 10px 20px;
	border-radius: 8px;
	margin: 5px 0;
	background: #f9f6cf;
}

.txtlist .item .imgbox {
	margin-right: 10px;
}

.txtlist .item .imgbox img {
	width: 100px;
}

.txtlist .item .flex-1 {
	font-weight: bold;
}

.txtlist .item .flex-1 img {
	width: 40px;
}
.rankborad{
	border: 4px solid #4fb57e;
	padding: 10px 20px;
	border-radius: 8px;
	margin: 5px 0;
	background: #f9f6cf;width: 70%;
	position: fixed;
	left: 15%;
	top: 20%;
	bottom: 20%;
	overflow: auto;
	z-index: 9999;
}
.rankborad .item{
	width: 33.33%;
	float: left;
	color: #b85e1e;
}
.rankborad .item .name{
	font-size: 20px;
	font-weight: bold;
}
/* .rankborad .item:not(:last-child){
	border-bottom: 1px solid #ccc;
} */
.rankborad .item .imgbox img{
	width: 50px;
}.rankborad .item .num{
	/* background: url(../icon.png) no-repeat top center; */
	width: 25px;
	height: 25px;
	background: #F5222D;
	color: #fff;
	border-radius: 100%;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	line-height: 25px;
	margin-right: 10px;
}

@keyframes yuying1 {
	0% {
		height: 0%;
	}

	20% {
		height: 50%;
	}

	50% {
		height: 100%;
	}

	80% {
		height: 50%;
	}

	100% {
		height: 0%;
	}
}

#audio {
	width: 470px;
	height: 50px;
	left: 50%;
	margin-left: -235px;
	position: fixed;
	top: 20%;
	padding-top: 80px;
	text-align: center;
}

#audio>div.audiobox {
	position: absolute;
	top: 0;
	width: 100%;
	height: 50px;
	text-align: center;
}

#audio>img {
	width: 200px;
	display: inline-block;
}

#audio .stuname {
	position: relative;
	margin-top: 30px;
	/* display: inline-block; */
}

#audio .stuname img {
	width: 250px;
}

#audio .stuname p {
	text-align: center;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	line-height: 66px;
}

#audio #one {
	animation: yuying1 0.8s infinite 0.1s;
	-webkit-animation: yuying1 0.6s infinite 0.1s;
}

#audio #two {
	animation: yuying1 0.8s infinite 0.2s;
	-webkit-animation: yuying1 0.6s infinite 0.2s;
}

#audio #three {
	animation: yuying1 0.8s infinite 0.3s;
	-webkit-animation: yuying1 0.6s infinite 0.3s;
}

#audio #four {
	animation: yuying1 0.8s infinite 0.4s;
	-webkit-animation: yuying1 0.6s infinite 0.4s;
}

#audio #five {
	animation: yuying1 0.8s infinite 0.5s;
	-webkit-animation: yuying1 0.6s infinite 0.5s;
}

#audio #one,
#audio #two,
#audio #three,
#audio #four,
#audio #five {
	width: 6px;
	height: 100%;
	margin-left: 10px;
	border-radius: 50px;
	background-color: #8bd9fd;
	vertical-align: middle;
	display: inline-block;
}


.couten {
	overflow: hidden;
	position: fixed;
	top: 0;
	height: 100%;
	left: 10%;
	right: 10%;
	bottom: 0;
	z-index: 99;

}

.couten li {
	position: absolute;
	animation: all 3s linear;
	bottom: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-size: 30px;
	transform: translateY(100%);
}

.couten li a {
	display: block;
	color: #ff0;
}

.couten li a .imgbox {
	display: block;
	margin: 0 auto;
	width: 100px;
	height: 100px;
	background: url(../1.png) no-repeat center center;
	background-size: cover;
}
.couten li a p {
	text-align: center;
}

.couten li a p.num {
	color: #f8a86e;
	font-weight: bold;
}





.danmaku .avatar {
	display: inline-block;
	height: 2.4em;
	width: 2.4em;
	background: url(../1.png) no-repeat center center;
	background-size: cover;
}
